.categories {
  padding: 48px 0;

  @include respond-to('tablet') {
    padding: 60px 0;
  }

  &__title {
    @include section-title-style;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include respond-to('tablet') {
      gap: 56px;
    }
  }

  &__button {
    width: 100%;
    margin: 40px 0 48px;

    @include button-style($button-text-color, $accent-color);

    @include respond-to('tablet') {
      margin: 56px 0 60px;
    }
  }
}
