.category {
  &__images {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include respond-to('tablet') {
      gap: 24px;
    }
  }

  &__image-wrapper {
    flex: 1 1 auto;
    background: $bg-color;
    display: flex;
    justify-content: center;
    transition:
      transform $transition-duration $animation-timing-function,
      box-shadow $transition-duration $animation-timing-function;

    @include respond-to('tablet') {
      height: 184px;
    }

    @include respond-to('desktop') {
      height: 324px;

      &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 15px 0 #e4e4e4;
      }
    }
  }

  &__image {
    width: 100%;

    @include respond-to('tablet') {
      width: auto;
      height: 100%;
    }
  }

  &__name {
    margin-top: 16px;
    font-weight: 700;
    font-size: 18px;

    @include respond-to('tablet') {
      font-size: 24px;
    }
  }
}
