.nav {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    letter-spacing: 0;
    color: $text-color;
    text-decoration: none;
  }
}
