.recommended {
  padding: 64px 0 48px;

  @include respond-to('tablet') {
    padding: 120px 0 60px;
  }

  &__title {
    @include section-title-style;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include respond-to('tablet') {
      gap: 56px;
    }

    @include respond-to('desktop') {
      flex-direction: row;
      gap: 24px;
    }
  }
}
