// colors
$text-color: #1b2129;
$title-color: #fff;
$bg-color: #f9f9f9;
$accent-color: #f98921;
$button-text-color: #fff;
$outline-color: #dbdbdb;

// sizes
$mobile-icon-size: 24px;
$tablet-icon-size: 32px;
$page-padding-mobile: 20px;
$page-padding-tablet: 72px;
$page-padding-desktop: 120px;
$header-height-mobile: 100vh;
$header-height-desktop: 720px;
$footer-height-mobile: 865px;
$footer-height-tablet: 1024px;
$footer-height-desktop: 708px;

// durations
$transition-duration: 0.3s;
$animation-timing-function: ease;
